.itemTotal{
    display: flex;
    justify-content: space-between;
}

.container{
    border-style: solid;
    border-color: rgba(14, 13, 13, 0.521);
    border-radius: 20px;
    overflow: hidden;
    
}
.colorResumen{
    background-color: rgb(215, 217, 219);

}

.codigoPromo{
    transition: background-color 2s;

}

.codigoPromo.color{
    background-color: lightblue;

}

.codigoPromo.colorCorrecto{
    background-color: greenyellow;
}

#btnCompra{
    width: 100%;
}